details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
.arrow {
  transition: transform 0.3s ease;
}
details[open] .arrow {
  transform: rotate(-180deg);
}